{
    "__version": "1.2.0",
    "__comments": "Sample template to deploy a vCenter Server Appliance with an embedded Platform Services Controller on an ESXi host.",
    "target.vcsa": {
        "esxi": {
            "hostname": "{{ physicalESX.host }}",
            "username": "{{ physicalESX.user }}",
            "password": "{{ physicalESX.password }}",
            "datastore": "{{ vcenter.datastore }}"
        },
        "appliance": {
            "thin.disk.mode": true,
            "deployment.option": "medium",
            "name": "{{ vcenter.name }}",
            "deployment.network": "{{vcenter.network}}"
        },
        "network": {
            "ip": "{{ vcenter.ip }}",
            "ip.family": "ipv4",
            "mode": "static",
            "dns.servers": [
                "{{ dns1 }}",
                "{{ dns2 }}"
            ],
            "hostname": "{{ vcenter.name }}",
            "gateway": "{{ vcenter.gw }}",
            "prefix": "{{ vcenter.mask }}"


        },
        "os": {
            "password": "{{ vcenter.password }}",
            "ssh.enable": true
            "ntp.servers": [
                "{{ server1 }}",
                "{{ server2 }}"
            ],
        },
        "sso": {
            "password": "{{ vcenter.password }}",
            "domain-name": "{{ vcenter.domain }}",
            "site-name": "vCNMS6-vCenter6-Site"
        }

    }
}
